<%- include('partials/header.ejs') %>
    <main class="mt-3" style="min-height: 33.7vh;">
        <div class="container">
            <h2>Add a student</h2>
            <hr>
            <form class="row" novalidate action="" method="post" enctype="multipart/form-data">
                <div class="mb-3 col-sm-6">
                    <label for="surname" class="form-label">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" required value="<%- locals?.formData?.surname %>">
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="other_name" class="form-label">Other Name</label>
                    <input type="text" class="form-control" id="other_name" name="other_name">
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="dob" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" name="dob" required>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="gender" class="form-label">Gender</label><br>
                    <label><input type="radio" name="gender" id="male" value="Male"> Male</label>
                    <label><input type="radio" name="gender" id="female" value="Female"> Female</label>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" name="address" rows="3"></textarea>
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                
                <div class="mb-3 col-sm-6">
                    <label for="address" class="form-label">Photo</label>
                    <input type="file" name="photo" class="form-control" id="photo" accept="image/*">
                </div>

                <div class="mb-3 col-sm-6">
                    <label for="sponsor" class="form-label">Sponsor</label>
                    <input type="text" class="form-control" id="sponsor" name="sponsor">
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="sponsor_email" class="form-label">Sponsor Email</label>
                    <input type="email" class="form-control" id="sponsor_email" name="sponsor_email">
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="sponsor_phone" class="form-label">Sponsor Phone</label>
                    <input type="tel" class="form-control" id="sponsor_phone" name="sponsor_phone">
                </div>
                <div class="mb-3 col-sm-12">
                    <label for="address" class="form-label">Sponsor Address</label>
                    <textarea class="form-control" id="address" name="sponsor_address"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </main>


    <%- include('partials/footer') %>